<ion-header>
  <ion-toolbar color="danger">
    <ion-title>CPR</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-card style="box-shadow: none;">
    <ion-card-content>
      <div class="ion-text-justify">
        <ion-text color="dark">
          <h1>Cardiopulmonary Resuscitation</h1>
          <br>
          <ion-img src="/assets/images/cprimage.jpg"></ion-img>
          <br>
          <p class="ion-text-justify">Cardiopulmonary resuscitation (CPR) can help save a life during a cardiac or breathing emergency. However, even after training, remembering the CPR steps and administering them correctly can be a challenge. In order to help you help someone in need, we've created this simple step-by-step guide that you can follow.</p>
          <br>
      <h1>CPR STEPS:</h1>
      <ion-list>
        <ion-item>
           <p class="ion-text-justify"><b>Step 1</b> – CHECK the scene for safety, form an initial impression and use personal protective equipment (PPE)</p>
        </ion-item>
        <ion-item>
          <p class="ion-text-justify"><b>Step 2</b> – If the person appears unresponsive, CHECK for responsiveness, breathing, life-threatening bleeding or other life-threatening conditions using shout-tap-shout
          </p>
        </ion-item>
        <ion-item>
            <p class="ion-text-justify"><b>Step 3</b> – If the person does not respond and is not breathing or only gasping, CALL 9-1-1 and get equipment, or tell someone to do so
            </p>
        </ion-item>
        <ion-item>
          <p class="ion-text-justify"><b>Step 4</b> – Place the person on their back on a firm, flat surface
          </p>
        </ion-item>
        <ion-item>
          <p class="ion-text-justify"><b>Step 5</b> – Give 30 chest compressions<br>
 
            <b>Hand position:</b> Two hands centered on the chest<br>
            <b>Body position:</b> Shoulders directly over hands; elbows locked<br>
            <b>Depth:</b> At least 2 inches<br>
            <b>Rate:</b> 100 to 120 per minute<br>
            Allow chest to return to normal position after each compression</p>
       </ion-item>
       <ion-item>
        <p class="ion-text-justify"><b>Step 6</b> – Give 2 breaths <br>
 
          <b>Open</b> the airway to a past-neutral position using the head-tilt/chin-lift technique <br>
          <b>Ensure</b> each breath lasts about 1 second and makes the chest rise; allow air to exit before giving the next breath<br>
          <b>Note:</b> If the 1st breath does not cause the chest to rise, retilt the head and ensure a proper seal before giving the 2nd breath If the 2nd breath does not make the chest rise, an object may be blocking the airway</p>
     </ion-item>
     <ion-item>
      <p class="ion-text-justify"><b>Step 7</b> – Continue giving sets of 30 chest compressions and 2 breaths. Use an AED as soon as one is available!</p>
   </ion-item>
   </ion-list>
   <br>
   <h1>Video: How to do CPR on Adults and Children</h1>
   <iframe width=100% height="250" src="https://www.youtube.com/embed/-NodDRTsV88?start=3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   <iframe width=100% height="250" src="https://www.youtube.com/embed/ulJL3jFVKNs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
