<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Serious Incidents</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="box-shadow: none;">
    <ion-card-content>
      <div class="ion-text-justify">
        <ion-text color="dark">
          <h1 style="text-align: center;">Bleeding</h1>
          <br>
          <ion-img src="/assets/images/bleeding.jpg"></ion-img>
          <br>
          <h2><b>Stop the bleeding.</b></h2><br>
          <p class="ion-text-justify">Place a sterile bandage or clean cloth on the wound. Press the bandage firmly with your palm to control bleeding. Apply constant pressure until the bleeding stops. Maintain pressure by binding the wound with a thick bandage or a piece of clean cloth.
          </p>
          <br>
          <p class="ion-text-justify"> For severe bleeding, take these first-aid steps and reassure the injured person.
          </p> <br>
      <ion-list>
        <ion-item>
           <p class="ion-text-justify"><b>Step 1</b> – Remove any clothing or debris on the wound. Don't remove large or deeply embedded objects. Don't probe the wound or attempt to clean it yet. Your first job is to stop the bleeding. Wear disposable protective gloves if available.
           </p>
        </ion-item>
        <ion-item>
          <p class="ion-text-justify"><b>Step 2</b> – Stop the bleeding. Place a sterile bandage or clean cloth on the wound. Press the bandage firmly with your palm to control bleeding. Apply constant pressure until the bleeding stops. Secure the bandage with adhesive tape or continue to maintain pressure with your hands. If possible, raise an injured limb above the level of the heart.
          </p>
        </ion-item>
        <ion-item>
            <p class="ion-text-justify"><b>Step 3</b> – Help the injured person lie down. If possible, place the person on a rug or blanket to prevent loss of body heat. Calmly reassure the injured person.
            </p>
        </ion-item>
        <ion-item>
          <p class="ion-text-justify"><b>Step 4</b> – Don't remove the gauze or bandage. If the bleeding seeps through the gauze or other cloth on the wound, add another bandage on top of it. And keep pressing firmly on the area.
          </p>
        </ion-item>
        <ion-item>
          <p class="ion-text-justify"><b>Step 5</b> – Tourniquets: A tourniquet is effective in controlling life-threatening bleeding from a limb. Apply a tourniquet if you're trained in how to do so. When emergency help arrives, explain how long the tourniquet has been in place.</p>
       </ion-item>
       <ion-item>
        <p class="ion-text-justify"><b>Step 6</b> – Immobilize the injured body part as much as possible. Leave the bandages in place and get the injured person to an emergency room as soon as possible. Call 911 or emergency medical help for severe bleeding that you can't control.</p>
     </ion-item>
   </ion-list>


   <ion-card style="box-shadow: none;">
    <ion-card-content>
      <div class="ion-text-justify">
        <ion-text color="dark">
          <h1 style="text-align: center;">Stroke</h1>
          <br>
          <ion-img src="/assets/images/stroke.jpg"></ion-img>
          <br>
          <h2><b>Know the signs of a stroke</b></h2>
          <br>
          <p class="ion-text-justify">Depending on the severity of the stroke, symptoms may be subtle or severe. Before you can help, you need to know what to watch for. To check for warning signs of a stroke, use the FAST acronym, which stands for:
          </p>
        
      <ion-list>
        <ion-item>
           <p class="ion-text-justify"><b>Face:</b> –  Is the face numb or does it droop on one side?<br>

            <b>Arms:</b> Is one arm numb or weaker than the other? Does one arm stay lower than the other when trying to raise both arms?
            <br>
            <b>Speech:</b>  Is speech slurred or garbled?
            <br>
            <b>Time:</b> If you answered yes to any of the above, it’s time to call emergency services immediately.<br>
        </ion-item>
        <ion-item>
          <p class="ion-text-justify"><b>Other stroke symptoms include:
          </b> <br>
          Blurred vision, dim vision, or loss of vision, especially in one eye.
          <br>
          Tingling, weakness, or numbness on one side of the body.<br>
          Nausea.<br>
          Loss of bladder or bowel control.<br>
          Headache.<br>
          Dizziness or lightheadedness.<br>
          Loss of balance or consciousness.<br>
          </p>
        </ion-item>
        <ion-item>
          <p class="ion-text-justify">If you or someone else has stroke symptoms, don’t take a wait-and-see approach. Even if symptoms are subtle or go away, take them seriously. It only takes minutes for brain cells to start dying. The risk of disability decreases if clot-busting drugs are administered within 4.5 hours
            </p>
        </ion-item>
   </ion-list>
   
   <ion-card style="box-shadow: none;">
    <ion-card-content>
      <div class="ion-text-justify">
        <ion-text color="dark">
          <h1 style="text-align: center;">Drug Overdose</h1>
          <br>
          <ion-img src="/assets/images/drugs.jpg"></ion-img>
          <br>
          <h2><b>If you think someone has taken an overdose:
          </b></h2>
          <ion-list>
            <ion-item>
               <p class="ion-text-justify">Stay calm
               </p>
            </ion-item>
            <ion-item>
              <p class="ion-text-justify">Call emergency services (911) for an ambulance.
              </p>
            </ion-item>
            <ion-item>
                <p class="ion-text-justify">If the person is unconscious but breathing, place them gently on their side in the recovery position. Ensure their airway remains open by tilting the head back and lifting the chin. (This can help them to breathe and stop them from choking if they vomit.) </p>
            </ion-item>
            <ion-item>
              <p class="ion-text-justify"> Check breathing and monitor their condition until help arrives. </p>
            </ion-item>
            <ion-item>
              <p class="ion-text-justify">Do not try to make the person vomit.
    </p>
           </ion-item>
           <ion-item>
            <p class="ion-text-justify">Do not give them anything to eat or drink.
    </p>
         </ion-item>
    <ion-item>
            <p class="ion-text-justify">Keep any pill containers to take to the hospital.
    </p>
         </ion-item>
     
       </ion-list>
    