<ion-header>
  <ion-toolbar color="danger">
    <ion-title>First Aid Basics</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-card style="box-shadow: none;">
    <ion-card-content>
      <div class="ion-text-justify">
        <ion-text color="dark">
          <h1>Importance of First Aid</h1>
          <br>
         <p>
        Learning basic first aid techniques can help you cope with an emergency. You may be able to keep a person breathing, reduce their pain or minimize the consequences of injury or sudden illness until an ambulance arrives. This could mean the difference between life and death for them.
        It is a good idea to take a first aid course so that you can recognise an emergency and give basic first aid until professional help arrives.
        First aid is as easy as ABC – airway, breathing and CPR (cardiopulmonary resuscitation). In any situation, apply the DRSABCD Action Plan.
      </p>
      <br>
      <h1>DRSABCD stands for:</h1>
      <ion-list>
        <ion-item>
           <p class="ion-text-justify"><b>Danger</b> – always check the danger to you, any bystanders and then the injured or ill person. Make sure you do not put yourself in danger when going to the assistance of another person.</p>
        </ion-item>
        <ion-item>
          <p class="ion-text-justify"><b>Response</b> – is the person conscious? Do they respond when you talk to them, touch their hands or squeeze their shoulders?
          </p>
        </ion-item>
        <ion-item>
            <p class="ion-text-justify"><b>Send for help</b> – call emergency services. Don’t forget to answer the questions asked by the operator.
            </p>
        </ion-item>
        <ion-item>
          <p class="ion-text-justify"><b>Airway</b> – Is the person’s airway clear? Is the person breathing?
            If the person is responding, they are conscious and their airway is clear, assess how you can help them with any injury.
If the person is not responding and they are unconscious, you need to check their airway by opening their mouth and having a look inside.
          </p>
        </ion-item>
        <ion-item>
          <p class="ion-text-justify"><b>Breathing </b>– check for breathing by looking for chest movements (up and down). Listen by putting your ear near to their mouth and nose. Feel for breathing by putting your hand on the lower part of their chest.</p>
       </ion-item>
       <ion-item>
        <p class="ion-text-justify"><b>CPR (cardiopulmonary resuscitation)</b> – if an adult is unconscious and not breathing, make sure they are flat on their back and then place the heel of one hand in the center of their chest and your other hand on top. Press down firmly and smoothly (compressing to one third of their chest depth) 30 times. Give two breaths. To get the breath in, tilt their head back gently by lifting their chin. Pinch their nostrils closed, place your open mouth firmly over their open mouth and blow firmly into their mouth. Keep going with the 30 compressions and two breaths at the speed of approximately five repeats in two minutes until you hand over to the ambulance officers or another trained person, or until the person you are resuscitating responds. The method for CPR for children under eight and babies is very similar and you can learn these skills in a CPR course.</p>
     </ion-item>
     <ion-item>
      <p class="ion-text-justify"><b>Defibrillator</b> – for unconscious adults who are not breathing, apply an automated external defibrillator (AED) if one is available. They are available in many public places, clubs and organizations. An AED is a machine that delivers an electrical shock to cancel any irregular heart beat (arrhythmia), in an effort to get the normal heart beating to re-establish itself. The devices are very simple to operate. Just follow the instructions and pictures on the machine, and on the package of the pads, as well as the voice prompts. If the person responds to defibrillation, turn them onto their side and tilt their head to maintain their airway. Some AEDs may not be suitable for children.
      </p>
   </ion-item>
      </ion-list>
      </ion-text>
      </div>
    </ion-card-content>
  </ion-card>
