<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Common Incidents</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="box-shadow: none;">
    <ion-card-content>
      <div class="ion-text-justify">
        <ion-text color="dark">
          <h1 style="text-align: center;">Cuts and scrapes</h1>
          <br>
          <ion-img src="/assets/images/cutsfirstaid.jpg"></ion-img>
          <br>
          <h2><b>STEPS:</b></h2>
      <ion-list>
        <ion-item>
           <p class="ion-text-justify"><b>Step 1</b> – Wash your hands. This helps avoid infection.</p>
        </ion-item>
        <ion-item>
          <p class="ion-text-justify"><b>Step 2</b> – Stop the bleeding. Minor cuts and scrapes usually stop bleeding on their own. If needed, apply gentle pressure with a clean bandage or cloth and elevate the wound until bleeding stops.
          </p>
        </ion-item>
        <ion-item>
            <p class="ion-text-justify"><b>Step 3</b> – Clean the wound. Rinse the wound with water. Keeping the wound under running tap water will reduce the risk of infection. Wash around the wound with soap. But don't get soap in the wound. And don't use hydrogen peroxide or iodine, which can be irritating. Remove any dirt or debris with a tweezers cleaned with alcohol. See a doctor if you can't remove all debris.
            </p>
        </ion-item>
        <ion-item>
          <p class="ion-text-justify"><b>Step 4</b> – Apply an antibiotic or petroleum jelly. Apply a thin layer of an antibiotic ointment or petroleum jelly to keep the surface moist and help prevent scarring. Certain ingredients in some ointments can cause a mild rash in some people. If a rash appears, stop using the ointment.
          </p>
        </ion-item>
        <ion-item>
          <p class="ion-text-justify"><b>Step 5</b> – Cover the wound. Apply a bandage, rolled gauze or gauze held in place with paper tape. Covering the wound keeps it clean. If the injury is just a minor scrape or scratch, leave it uncovered.</p>
       </ion-item>
       <ion-item>
        <p class="ion-text-justify"><b>Step 6</b> – Change the dressing. Do this at least once a day or whenever the bandage becomes wet or dirty.</p>
     </ion-item>
     <ion-item>
      <p class="ion-text-justify"><b>Step 7</b> – Get a tetanus shot. Get a tetanus shot if you haven't had one in the past five years and the wound is deep or dirty.</p>
   </ion-item>
   <ion-item>
    <p class="ion-text-justify"><b>Step 8</b> – Watch for signs of infection. See a doctor if you see signs of infection on the skin or near the wound, such as redness, increasing pain, drainage, warmth or swelling.</p>
 </ion-item>
   </ion-list>


   <ion-card style="box-shadow: none;">
    <ion-card-content>
      <div class="ion-text-justify">
        <ion-text color="dark">
          <h1 style="text-align: center;">Food Poisoning</h1>
          <br>
          <ion-img src="/assets/images/foodpoi.jpg"></ion-img>
          <br>
          <h2><b>Overview</b></h2>
          <br>
          <p class="ion-text-justify">Most foodborne illness, also known as food poisoning, comes from bacteria in food that has multiplied, either from poor handling, improper cooking, or poor storage of food. Other things, such as toxins, parasites, chemicals, and viruses, can contaminate food, but these causes are much less common than contamination from bacteria.</p>
          <br>
      <ion-list>
        <ion-item>
           <p class="ion-text-justify"><b>First Aid</b> – If you become sick from foodborne illness, resting and drinking plenty of liquids is key.<br>

            <b>Drink Gatorade or water</b> to prevent dehydration. <br>
            <b>Once illness subsides,</b> slowly ease back into eating by trying bland, easy-to-digest foods, such as crackers, plain toast, bananas, rice, and chicken. Note: Stop eating if your nausea returns. Avoid dairy products, caffeine, alcohol, nicotine, and fatty or spicy foods for a few days.<br>
            <b>Consider acetaminophen (Tylenol®)</b> for relief of discomfort, unless you have liver disease.<br>
            <b>Note:</b> Don't use anti-diarrheal medications; they may slow elimination of bacteria from your system.</p>
        </ion-item>
        <ion-item>
          <p class="ion-text-justify"><b>Prevention</b> – Foodborne illness can be prevented by following these general guidelines: <br>
            <b>Wash</b> your hands before handling food.<br>
            <b>Wash</b> you hands after using the toilet, changing diapers, smoking, blowing your nose, coughing, or sneezing.<br>
            <b> Wash</b> your hands after touching raw meat or eggs.<br>
            <b>Use plastic</b> (rather than wooden) cutting boards for cutting raw meats.<br>
            <b>Thoroughly clean</b> all surfaces and utensils that came into contact with uncooked meat or eggs.<br>
            <b>Cook meats and eggs</b> thoroughly before eating.<br>
            <b>Do not</b> eat or drink foods made from raw or undercooked eggs, meats, or unpasteurized dairy products.<br>
            <b>Wash all</b> produce thoroughly before eating.<br>
            <b>Avoid cross-contamination</b> of foods by keeping produce, cooked foods, and ready-to-eat foods separate from uncooked meats and raw eggs.<br>
          </p>
        </ion-item>
   </ion-list>

   <ion-card style="box-shadow: none;">
    <ion-card-content>
      <div class="ion-text-justify">
        <ion-text color="dark">
          <h1 style="text-align: center;">Bruises</h1>
          <br>
          <ion-img src="/assets/images/bruise.jpg"></ion-img>
          <br>
          <h2><b>Overview</b></h2>
          <br>
          <p class="ion-text-justify">A bruise forms when a blow breaks blood vessels near your skin's surface, allowing a small amount of blood to leak into the tissues under your skin. The trapped blood may cause a bruise that at first looks like a black-and-blue mark and then changes color as it heals.

            You can enhance bruise healing with a few simple techniques. Remember RICE, for rest, ice, compress and elevate:</p>
      <ion-list>
        <ion-item>
           <p class="ion-text-justify"><b>Rest</b> the bruised area, if possible.</p>
        </ion-item>
        <ion-item>
          <p class="ion-text-justify"><b>Ice</b> the bruise with an ice pack wrapped in a towel. Leave it in place for 10 to 20 minutes. Repeat several times a day for a day or two as needed.
          </p>
        </ion-item>
        <ion-item>
          <p class="ion-text-justify"><b>Compress</b> the bruised area if it is swelling, using an elastic bandage. Don't make it too tight.
          </p>
        </ion-item>
        <ion-item>
          <p class="ion-text-justify"><b>Elevate</b> the injured area.
          </p>
        </ion-item>
   </ion-list>
