<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Outdoor Incidents</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="box-shadow: none;">
    <ion-card-content>
      <div class="ion-text-justify">
        <ion-text color="dark">
          <h1 style="text-align: center;">Insect Bites and Stings</h1>
          <br>
          <ion-img src="/assets/images/insect.png"></ion-img>
          <br>
          <h2><b>Overview</b></h2>
          <p class="ion-text-justify">Most insect bites and stings are mild and can be treated at home. They might cause itching, swelling and stinging that go away in a day or two. Some bites or stings can transmit disease-causing bacteria, viruses or parasites. Stings from bees, yellow jackets, wasps, hornets and fire ants might cause a severe allergic reaction</p>
          <br>
          <p class="ion-text-justify">To treat a mild reaction to an insect bite or sting:</p>

      <ion-list>
        <ion-item>
           <p class="ion-text-justify">Move to a safe area to avoid more bites or stings.</p>
        </ion-item>
        <ion-item>
          <p class="ion-text-justify">Remove any stingers
          </p>
        </ion-item>
        <ion-item>
            <p class="ion-text-justify">Gently wash the area with soap and water.
            </p>
        </ion-item>
        <ion-item>
          <p class="ion-text-justify">Apply a cloth dampened with cold water or filled with ice to the area of the bite or sting for 10 to 20 minutes. This helps reduce pain and swelling.
          </p>
        </ion-item>
        <ion-item>
          <p class="ion-text-justify">If the injury is on an arm or leg, raise it.</p>
       </ion-item>
       <ion-item>
        <p class="ion-text-justify">Seek medical care if the swelling gets worse, the site shows signs of infection or you don't feel well.</p>
        </ion-item>
   </ion-list>

   <h2><b>Seek Emergency Care:</b></h2>
          <p class="ion-text-justify">Call 911 or your local medical emergency number if a child is stung by a scorpion or if anyone is having a serious reaction that suggests anaphylaxis, even if it's just one or two signs or symptoms:</p>
      <ion-list>
        <ion-item>
           <p class="ion-text-justify">Trouble breathing</p>
        </ion-item>
        <ion-item>
          <p class="ion-text-justify">Swelling of the lips, face, eyelids or throat
          </p>
        </ion-item>
        <ion-item>
            <p class="ion-text-justify">Dizziness, fainting or unconsciousness
            </p>
        </ion-item>
        <ion-item>
          <p class="ion-text-justify">A weak and rapid pulse
          </p>
        </ion-item>
        <ion-item>
          <p class="ion-text-justify">Hives</p>
       </ion-item>
       <ion-item>
        <p class="ion-text-justify">Nausea, vomiting or diarrhea</p>
        </ion-item>
   </ion-list>


   <ion-card style="box-shadow: none;">
    <ion-card-content>
      <div class="ion-text-justify">
        <ion-text color="dark">
          <h1 style="text-align: center;">Poisonous Plants</h1>
          <br>
          <ion-img src="/assets/images/poison.jpg"></ion-img>
          <br>
          <h2><b>Symptoms</b></h2>
          <br>
          <p class="ion-text-justify">Signs or symptoms associated with skin contact with poisonous plants may include:</p>
          <br>
      <ion-list>
        <ion-item>
           <p class="ion-text-justify">Red rash within a few days of contact</p>
        </ion-item>
        <ion-item>
          <p class="ion-text-justify">Bumps, red patches or streaking, or weeping blisters. (NOTE: fluids in blisters will not cause blisters to spread on you or to others).</p>
        </ion-item>
        <ion-item>
          <p class="ion-text-justify">Swelling</p>
       </ion-item>
       <ion-item>
        <p class="ion-text-justify">Itching</p>
     </ion-item>
   </ion-list>
   <h2><b>First Aid Steps</b></h2>
      <ion-list>
        <ion-item>
           <p class="ion-text-justify">Rinse skin immediately<br>
            Use rubbing alcohol, poison plant washes, degreasing soap (such as dishwashing soap) or detergent, and lots of water.
          <br>
          Rinse often. This prevents wash solutions from drying on the skin and further spreading the urushiol. Urushoil is an oil in the plant that can cause an allergic reaction, referred to as contact dermatitis.</p> 
        </ion-item>
        <ion-item>
          <p class="ion-text-justify">Scrub under nails with a brush.</p>
        </ion-item>
        <ion-item>
          <p class="ion-text-justify">Apply wet compresses, calamine lotion, or hydrocortisone cream to the skin to reduce itching and blistering.</p>
       </ion-item>
       <ion-item>
        <p class="ion-text-justify">Get medical help in severe cases, or if the rash is on the face or genitals.</p>
     </ion-item>
     <ion-item>
      <p class="ion-text-justify">Call 911 or go to a hospital emergency room if you or another worker:<br>
        Has a severe allergic reaction, such as swelling or difficulty breathing.<br>
        Has had a severe reaction to poisonous plants in the past.</p>
   </ion-item>
   </ion-list>


   <ion-card style="box-shadow: none;">
    <ion-card-content>
      <div class="ion-text-justify">
        <ion-text color="dark">
          <h1 style="text-align: center;">Heat and Dehydration</h1>
          <br>
          <ion-img src="/assets/images/water.jpg"></ion-img>
          <br>
          <h2><b>Overview</b></h2>
          <br>
          <p class="ion-text-justify">Dehydration is a a potentially serious condition where fluid (and body salts) are lost from the body and not adequately replaced. </p>
      <ion-list>
        <p class="ion-text-justify">Dehydration is mainly caused by: </p>

        <ion-item>
           <p class="ion-text-justify">Excessive sweating during physical activity</p>
        </ion-item>
        <ion-item>
          <p class="ion-text-justify">Prolonged exposure to the sun or hot conditions
          </p>
        </ion-item>
        <ion-item>
          <p class="ion-text-justify">Sweating because of a fever (high body temperature)
          </p>
        </ion-item>
        <ion-item>
          <p class="ion-text-justify">Severe diarrhea and vomiting
          </p>
        </ion-item>
   </ion-list>
   <p class="ion-text-justify">Certain groups of people are more at risk of dehydration. Young children, the elderly, and people involved in prolonged periods of activity are particularly at risk.
  <br>
  If untreated, dehydration can lead to heat exhaustion and potentially heat stroke.</p>
  <h2><b>Signs and symptoms of dehydration</b></h2>
         
      <ion-list>
        <p class="ion-text-justify">A victim suffering from dehydration may present with: </p>

        <ion-item>
           <p class="ion-text-justify">Dry mouth, eyes and other mucous membranes</p>
        </ion-item>
        <ion-item>
          <p class="ion-text-justify">Dry, cracked lips
          </p>
        </ion-item>
        <ion-item>
          <p class="ion-text-justify">Headaches, dizziness and confusion
          </p>
        </ion-item>
        <ion-item>
          <p class="ion-text-justify">Cramp and tightness in muscles, especially in the legs
          </p>
        </ion-item>
        <ion-item>
          <p class="ion-text-justify">A Reduction in the amount and frequency of urination, with dark coloured urine
          </p>
        </ion-item>
   </ion-list>
   <h2><b>First Aid Steps</b></h2>
         
   <ion-list>
     <p class="ion-text-justify">There are some simple first aid steps you can take if you suspect someone is suffering from dehydration.  </p>

     <ion-item>
        <p class="ion-text-justify">Assist the casualty into a cool, shaded place</p>
     </ion-item>
     <ion-item>
       <p class="ion-text-justify">Encourage them to sit down and stop any physical activity
       </p>
     </ion-item>
     <ion-item>
       <p class="ion-text-justify">Provide plenty of water or Oral Rehydration Solution (ORS) to drink
       </p>
     </ion-item>
     <ion-item>
       <p class="ion-text-justify">If the patient is suffering from cramp, stretch and massage the affected muscles

       </p>
     </ion-item>
     <ion-item>
       <p class="ion-text-justify">Monitor and record vital signs (eg: pulse / respiratory rate) if trained
       </p>
     </ion-item>
</ion-list>
