<ion-header>
  <ion-toolbar color="danger">
    <ion-title>About us</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="box-shadow: none;">
    <ion-card-content>
      <div class="ion-text-justify">
        <ion-text color="dark">
          <h1 style="text-align: center;">The Sustainable First Aid</h1>
          <br>
          <ion-img src="/assets/images/firstaidlogo.png"></ion-img>
          <br>
          <h2><b>Overview:</b></h2>
          <br>
          <p class="ion-text-justify">The Sustainable First Aid application gives people access to information on how to handle common first aid situations in order to help save lives.</p>
          <br>
          <h2><b>Features:</b></h2>
          <ul>
            <li>Login and Signup</li>
            <li>First aid steps for different incidents</li>
            <li>Videos on how to perform first aid on different incidents</li>
            <li>Preventive Measures</li>
            <li>Emergency Contact List</li>
            <li>Available Red Cross Volunteers for Contact</li>
          </ul>


     